.mapContainer {
  width: 100%;
  padding: 0 10px;
}
.mapContainer img {
  width: 100%;
}
.titleBox {
  padding: 5px;
  color: #fcdccd;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #886a5c;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.name {
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "Dancing Script Variable";
}
.anchor {
  color: #886a5c;
  font-weight: 600;
  text-decoration: underline;
}
.anchor::before {
  content: "--- ";
}
.anchor::after {
  content: " ---";
}
