.nameGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.jumbo {
  width: 100%;
  font-family: "Dancing Script Variable";
}
.left {
  font-size: 6rem;
  text-align: left;
}
.center {
  font-size: 4rem;
  text-align: center;
}
.right {
  font-size: 6rem;
  text-align: right;
}
.guest {
  border-bottom: 1px solid #886a5c;
  text-align: center;
}
.guest p:last-child {
  margin-top: 5px;
  font-size: 20px;
}
.text {
  gap: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text p:first-child {
  font-style: italic;
}
